tr.info{
	background-color: var(--webapp-hint);
}
td.cover{
	text-align: center;
}
td.cover>div[data-cover],div.cover{
	border: black 1px solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;  
}
td.cover>div[data-cover]{
	height: 100%;
	box-shadow: 0 0 .4rem black;
	cursor: pointer;
}
td.tags>div:first-child{
	display: flex;
	gap: .6rem;
	width: 50rem;
	overflow: hidden;
}
td.name>a{
	width: 50rem;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.video_tags{
	padding: 0;
	width: 90rem;
	display: flex;
	align-content: flex-start;
	flex-flow: wrap;
	list-style-type: none;
	gap: .6rem;
}
ul.video_tags>li>label.checked{
	background-color: dodgerblue !important;
	border: .1rem solid darkblue !important;
	color: white !important;
}
ul.video_tags>li>label{
	padding: .2rem .4rem;
	border-radius: .3rem;
	white-space: nowrap;
	display: block;
	border: .1rem solid transparent;
	color: deeppink;
	border: .1rem solid deeppink;
}
ul.video_tags>li>label:hover:not(.checked){
	background: lightyellow;
	border: .1rem solid goldenrod;
}
ul.video_tags>li>label:active{
	background: gainsboro;
}
dialog.play{
	padding: 0;
}
dialog.play>webapp-video{
	transition: width .4s, height .4s;
}