:root {
	--webapp-background: white;
	--webapp-foreground: black;
	--webapp-gap: 1rem;
	--webapp-gapitem: .4rem;
	--webapp-gapradius: .4rem;


	--webapp-anchor: #0366d6;
	--webapp-button: #eff3f6;
	--webapp-hover: #f3f3f3;
	--webapp-hint: silver;
	--webapp-edge: #1b1f23;
	--webapp-primary: #28a745;
	--webapp-danger: #cb2431;

	--webapp-font-large: 1.4rem;
	--webapp-font-medium: 1.2rem;
	--webapp-font-normal: 1rem;
	--webapp-font-small: .8rem;

	--webapp-font-monospace: consolas, monospace;
	--webapp-font-sans-serif: verdana, georgia, arial, sans-serif;
	background: var(--webapp-background);
	color: var(--webapp-foreground);
	font: 100% var(--webapp-font-sans-serif);
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
a{
	color: var(--webapp-foreground);
	text-decoration: none;
}
a.arrow{
	padding: var(--webapp-gapitem) var(--webapp-gap);
}
a.arrow::before{
	content: '';
	display: block;
	width: .8rem;
	height: .8rem;
	border: .3rem solid var(--webapp-foreground);
	transform: rotate(45deg);
	border-top-width: 0;
	border-right-width: 0;
}
body>div:first-child{
	border: 1px solid red;
	box-sizing: border-box;
}
/* splashscreen */
body>div.splashscreen:first-child>header:not(:empty){
	position: fixed;
	top: var(--webapp-gap);
	right: var(--webapp-gap);
	color: var(--webapp-background);
	padding: var(--webapp-gapitem) var(--webapp-gap);
	font: var(--webapp-font-medium) var(--webapp-font-monospace);
	border-radius: var(--webapp-gapradius);
	background-color: rgba(0, 0, 0, .6);
	box-shadow: 0 .1rem .6rem rgb(27, 31, 35);
}
/* login */
form.login{
	width: 60%;
	margin: auto;
}
form.login>fieldset{
	border: none;

}
form.login>fieldset>button{
	width: 100%;
}

/* header */
header:not(:empty){
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--webapp-background);
	padding: var(--webapp-gapitem) 0;
	padding-right: var(--webapp-gapitem);
}
header>strong{
	text-align: center;
	flex-grow: 1;
	margin-left: -2rem;
}
header>input{
	outline: none;
	border: 1px solid rgba(27, 31, 35, 0.2);
	padding: 0 var(--webapp-gapitem);
	line-height: 2rem;
	font-size: var(--webapp-font-medium);
	flex-grow: 1;
	border-radius: var(--webapp-gapradius) 0 0 var(--webapp-gapradius);
	border-right: 0;
}
header>button{
	line-height: 2rem;
	padding: 0 var(--webapp-gap);
	border-radius: 0 var(--webapp-gapradius) var(--webapp-gapradius) 0;
}



/* aside */
aside.classify{
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
	overflow-x: auto;
	font-weight: bold;
	background-color: var(--webapp-background);
	/* box-shadow: 0 .2rem .6rem rgb(27, 31, 35); */
}

aside.classify>a{
	position: relative;
	padding: var(--webapp-gapitem) var(--webapp-gap);
	font-size: var(--webapp-font-medium);
	white-space: nowrap;
}
aside.classify>a.selected::before{
	content: '';
	position: absolute;
	left: 1rem;
	right: 1rem;
	bottom: .2rem;
	border-bottom: .2rem solid var(--webapp-foreground);
}
aside.watch{
	position: sticky;
	top: 0;
	z-index: 9;
	padding-bottom: 56.25%;
}
aside.watch>webapp-video{
	position: absolute;
	inset: 0;
}
/* main */

main>blockquote[data-lazy]{
	margin: 0;
	padding: var(--webapp-gap);
	text-align: center;
}

/* footer */
footer{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	background-color: var(--webapp-background);
}
footer.nav{
	display: flex;
	justify-content: center;
	box-shadow: 0 .2rem .6rem var(--webapp-edge);
}
footer.nav>a{
	padding: var(--webapp-gap) 0;
	flex-grow: 1;
	text-align: center;
	color: var(--webapp-foreground);
	
}



div.titles{
	display: flex;
	justify-content: space-between;
	padding: 0 var(--webapp-gapitem);
}
div[class|=grid]{
	display: grid;
	padding: var(--webapp-gapitem);
	gap: var(--webapp-gapitem);
	grid-template-columns: 1fr 1fr;
}
div[class|=grid]>a{
	display: block;
}
div[class|=grid]>a>figure{
	margin: 0;
	position: relative;
	overflow: hidden;
	font-size: var(--webapp-font-small);
	text-shadow: 1px 1px 0 var(--webapp-foreground);
	padding-bottom: 56.25%;
	border-radius: var(--webapp-gapradius);
	box-shadow: 0 0 .2rem var(--webapp-hint);
	/*
	19:6= 56.25%
	4:3	= 75%
	3:2	= 66.66%
	8:5	= 62.5%
	*/
}
div[class|=grid]>a>figure[data-label]::before{
	content: attr(data-label);
	position: absolute;
	top: -2.1rem;
	left: -2.1rem;
	width: 4rem;
	z-index: 1;
	padding-top: 3rem;
	padding-bottom: .1rem;
	color: var(--webapp-background);
	background-color: var(--webapp-danger);
	transform: rotate(-45deg);
	text-align: center;
}
div[class|=grid]>a>figure[data-require]::after{
	content: attr(data-require);
	position: absolute;
	top: 0;
	right: 0;
	padding: .2rem var(--webapp-gapitem);
	color: var(--webapp-background);
	background-color: var(--webapp-danger);

}
div[class|=grid]>a>figure>img{
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* aspect-ratio: 16 / 9; */
}
div[class|=grid]>a>figure>figcaption{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 var(--webapp-gapitem);
	color: var(--webapp-background);
	background-color: var(--webapp-danger);

	white-space: nowrap;
}
div[class|=grid]>a>strong{
	display: block;
	overflow: hidden;
	line-height: calc(var(--webapp-font-normal) * 1.5);
	max-height: calc(var(--webapp-font-normal) * 3);
	word-break: break-all;
	font-weight: lighter;
}
div[class|=grid]>a>div{
	position: relative;
	height: var(--webapp-font-large);
}
div[class|=grid]>a>div>mark{
	position: absolute;
	inset: 0;
	color: var(--webapp-anchor);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: var(--webapp-font-large);
	font-size: var(--webapp-font-small);
	background-color: transparent;
}
div[class|=grid]>a>div>mark>span{
	padding-right: var(--webapp-gapitem);
}
div[class|=grid][class*=-t1]{
	grid-template-columns: 1fr;
}
div[class|=grid][class*=-t2]{
	grid-template-columns: 1fr 1fr;
}
div[class|=grid][class*=-t3]>a:first-child{
	grid-column: 1 / 3;
}
div[class|=grid][class*=-t4]>a:first-child{
	grid-column: 1 / 4;
}
div[class|=grid][class*=-t4]>a:first-child>figure{
	padding-bottom: 56.25%;
}
div[class|=grid][class*=-t4]>a:first-child>figure>img{
	object-position: unset;
}
div[class|=grid][class*=-t4],
div[class|=grid][class*=-t5]{
	grid-template-columns: 1fr 1fr 1fr;
}
div[class|=grid][class*=-t4]>a>figure,
div[class|=grid][class*=-t5]>a>figure{
	padding-bottom: 142%;
}
div[class|=grid][class*=-t4]>a>figure>img,
div[class|=grid][class*=-t5]>a>figure>img{
	object-position: right;
}
div[class|=grid][class*=-t6]{
	display: flex;
	overflow-x: auto;
	transform-origin: center;
}
div[class|=grid][class*=-t6]>a{
	width: 70%;
	flex-shrink: 0;
}


div[class|=grid][class*=-icon]{
	gap: var(--webapp-gap);
	padding: var(--webapp-gapitem);
	grid-template-columns: repeat(4, 1fr);
}
div[class|=grid][class*=-icon]>a>figure{
	padding-bottom: 100%;
	border-radius: var(--webapp-gapradius);
	
}
div[class|=grid][class*=-icon]>a>figure>img{
	box-shadow: 0 0 .2rem var(--webapp-edge);
}
div[class|=grid][class*=-icon]>a>figure>figcaption{
	text-align: center;
}
/* @media screen and (min-width: 720px) {
	div[class|=videos]{
		grid-template-columns: 1fr 1fr 1fr;
	}
	div[class|=videos][class*=-t5]{
		grid-template-rows: 1fr;
	}
	div[class|=videos][class*=-t5]>a:first-child{
		grid-column: 1 / 4;
	}
} */
/* div.videoinfo */
div.videoinfo{
	display: flex;
	gap: var(--webapp-gapitem);
	flex-direction: column;
	padding: var(--webapp-gapitem);
}
/* mark.tags */
div.videoinfo>mark{
	display: flex;
	gap: var(--webapp-gapitem);
	flex-wrap: wrap;
	background-color: transparent;
}
div.videoinfo>mark>a{
	padding: .2rem var(--webapp-gapitem);
	color: var(--webapp-background);
	background-color: var(--webapp-danger);
	border-radius: var(--webapp-gapradius);
	font-size: var(--webapp-font-small);
}





div.short{
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
}
div.short>header>a::before{
	border-color: white;
}
div.short>header,
div.short>footer{
	background-color: transparent;
}
div.short>main{
	flex-grow: 1;
}
div.short>main>webapp-videos{
	height: 100%;
}
div.short>footer{
	position: relative;
}


/* 
div.short,
div.short>main>webapp-videos{
	height: 100%;
}

div.short>main{
	height: calc(100% - 80px);
}


div.short>header{
	padding: 0;
	color: white;
	height: 40px;
}

div.short>footer{
	position: absolute;
	height: 40px;
	bottom: 40px;
} */




div.my{
	height: 50%;
	background: linear-gradient(to bottom, var(--webapp-primary) 10%, white);
}
div.my>aside{
	height: 4rem;
}
div.my>main{
	margin: 0 var(--webapp-gap);
	border-radius: var(--webapp-gapradius);
	background-color: var(--webapp-background);
	height: 30rem;
}



button,label.button{
	font: var(--webapp-font-medium) var(--webapp-font-sans-serif);
	color: var(--webapp-foreground);
	padding: .25rem 1rem;
	border: 1px solid rgba(27, 31, 35, 0.2);
	white-space: nowrap;
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}



webapp-slideshows{
	box-shadow: 0 0 .2rem var(--webapp-hint);
	border-radius: var(--webapp-gapradius);
	padding-bottom: 46%;
	height: 0;
	margin: var(--webapp-gapitem);
}
