:root {
	--webapp-hue: 0;
	--webapp-saturation: 100%;
	--webapp-color: var(--webapp-hue), var(--webapp-saturation);
	--webapp-background: hsl(var(--webapp-color), 7%);
	--webapp-foreground: hsl(var(--webapp-color), 100%);
	/* --webapp-convex: ; */

	--webapp-anchor: hsl(var(--webapp-color), 100%);
	--webapp-button: hsl(var(--webapp-color), 20%);
	--webapp-hover: hsl(var(--webapp-hue), 0%, 47%);
	--webapp-hint: hsl(var(--webapp-color), 15%);
	--webapp-edge: hsl(var(--webapp-color), 0%);
	
	--webapp-primary: hsl(var(--webapp-color), 30%);
	--webapp-danger: 203, 36, 49;
	--webapp-concavity: linear-gradient(-180deg, hsl(var(--webapp-color), 30%) 0%, var(--webapp-button) 90%);

	--webapp-gap: 1rem;
	--webapp-gapitem: .4rem;
	--webapp-gaplittle: .2rem;
	--webapp-gapradius: .4rem;

	--webapp-font-large: 1.4rem;
	--webapp-font-medium: 1.2rem;
	--webapp-font-normal: 1rem;
	--webapp-font-small: .8rem;

	--webapp-font-monospace: consolas, monospace;
	--webapp-font-sans-serif: verdana, georgia, arial, sans-serif;
	background: var(--webapp-background);
	color: var(--webapp-foreground);
	font: 100% var(--webapp-font-sans-serif);
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body>nav{
	display: flex;
	gap: .4rem;
	padding: .4rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .4);
	backdrop-filter: blur(.4rem);
	box-shadow: 0 0 .2rem var(--webapp-edge);
}
body>nav>input{
	flex-grow: 1;
	background-color: transparent;
	border: none;
}
