
/* https://colorizer.org/ */
:root {
	--webapp-hue: 0;
	--webapp-saturation: 100%;
	--webapp-color: var(--webapp-hue), var(--webapp-saturation);
	--webapp-background: hsl(var(--webapp-color), 100%);
	--webapp-foreground: hsl(var(--webapp-color), 1%);
	/* --webapp-convex: ; */

	--webapp-anchor: hsl(var(--webapp-color), 9%);
	--webapp-button: hsl(var(--webapp-color), 20%);
	--webapp-hover: hsl(var(--webapp-hue), 0%, 47%);
	--webapp-hint: hsl(var(--webapp-color), 15%);
	--webapp-edge: hsl(var(--webapp-color), 0%);
	
	--webapp-primary: hsl(var(--webapp-color), 30%);
	--webapp-danger: 203, 36, 49;
	--webapp-concavity: linear-gradient(-180deg, hsl(var(--webapp-color), 30%) 0%, var(--webapp-button) 90%);

	--webapp-gap: 1rem;
	--webapp-gapitem: .4rem;
	--webapp-gaplittle: .2rem;
	--webapp-gapradius: .4rem;

	--webapp-font-large: 1.4rem;
	--webapp-font-medium: 1.2rem;
	--webapp-font-normal: 1rem;
	--webapp-font-small: .8rem;

	--webapp-font-monospace: consolas, monospace;
	--webapp-font-sans-serif: verdana, georgia, arial, sans-serif;
	background: var(--webapp-background);
	color: var(--webapp-foreground);
	font: 100% var(--webapp-font-sans-serif);
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
a{
	color: var(--webapp-anchor);
	text-decoration: none;
}



body>div>header{
	display: flex;
	gap: .4rem;
	padding: .4rem;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	
	backdrop-filter: blur(.4rem);
	
	z-index: 1;
}
body>div>header>input{
	flex-grow: 1;
	background-color: transparent;
	border: none;
}

main.watch{
	display: grid;
	grid-template-columns: 1fr;
}
main.watch>div.player>webapp-video{
	position: relative;
	padding-bottom: 56.25%;
	background-color: var(--webapp-edge);
}
main.watch>div.player>webapp-video>video{
	position: absolute;
	inset: 0;
}
div.videoinfo{
	display: flex;
	gap: var(--webapp-gap);
	flex-direction: column;
	padding: var(--webapp-gapitem);
}
div.videoinfo>strong{
	word-break: break-all;
}
div.videoinfo>div{
	display: flex;
	gap: var(--webapp-gapitem);
	flex-wrap: wrap;
	align-items: center;
}
div.videoinfo>div[data-label]>a{
	overflow: hidden;
	color: var(--webapp-background);
	border: 1px solid var(--webapp-edge);
	padding: .2rem var(--webapp-gapitem);
	border-radius: var(--webapp-gapradius);
	background-color: var(--webapp-hint);
	white-space: nowrap;
}
div.videoinfo>div[data-label]::before{
	content: attr(data-label);
	color: var(--webapp-foreground);
}




div.videos,
div.playleft,
div.playright{
	display: grid;
	padding: var(--webapp-gapitem);
	gap: var(--webapp-gapitem);
	grid-template-columns: 1fr;
}
div.videos>a,
div.playleft>a,
div.playright>a{
	display: block;
}
div.videos>a>figure,
div.playleft>a>figure,
div.playright>a>figure{
	margin: 0;
	position: relative;
	overflow: hidden;
	color: var(--webapp-foreground);
	font-size: var(--webapp-font-small);
	background-color: var(--webapp-button);
	padding-bottom: 56.25%;
	box-shadow: 0 0 .2rem var(--webapp-edge);
	text-shadow: 1px 1px 1px var(--webapp-background);
	/*h
	4:3	= 75%
	3:2	= 66.66%
	8:5	= 62.5%
	2:1	= 50%
	16:9= 56.25%
	21:9= 42.86%
	*/
	/*v
	3:4	= 133.33%
	2:3	= 150%
	5:8 = 160%
	1:2 = 200%
	9:16= 177.77%
	9:21= 233.33%
	*/
}
div.videos>a>figure>img,
div.videos>a>figure>video,
div.playleft>a>figure>img,
div.playleft>a>figure>video,
div.playright>a>figure>img,
div.playright>a>figure>video{
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* aspect-ratio: 16 / 9; */
}
div.videos>a>strong,
div.playleft>a>strong,
div.playright>a>strong{
	display: block;
	overflow: hidden;
	line-height: calc(var(--webapp-font-normal) * 1.5);
	max-height: calc(var(--webapp-font-normal) * 3);
	font-size: var(--webapp-font-small);
	word-break: break-all;
	font-weight: lighter;
}
div.pages{
	display: flex;
	gap: var(--webapp-gapitem);
	padding: var(--webapp-gapitem);
	justify-content: center;
	padding-bottom: calc(var(--webapp-gap) * 2);
}
div.pages>a{
	padding: var(--webapp-gapitem) .6rem;
	border: 1px solid var(--webapp-edge);
	border-radius: var(--webapp-gapradius);
}
div.pages>a.selected{
	color: var(--webapp-foreground);
	background-color: var(--webapp-button);
}
/* @media screen and (min-width: 480px) {
	div[class|=videos]{
		grid-template-columns: 1fr;
	}
}
 */
@media screen and (min-width: 481px) {
	div[class|=videos],
	div.playleft,
	div.playright{
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 769px) {
	main.watch{
		grid-template-columns: 3fr 1fr;
	}
	div[class|=videos]{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	div.playleft{
		grid-template-columns: 1fr 1fr;
	}
	div.playright{
		grid-template-columns: 1fr;
	}
}
@media screen and (min-width: 1280px) {
	body>div{
		width: 1300px;
		margin: 0 auto;
	}
	div.playleft{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	div[class|=videos]{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}