/* html,body,body>div{
	height:100%;
}
body>div,main::before{
	background-image: url('/webapp/res/ps/kynny.original_5BMO6X9.jpg');
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-x;
}
header{
	display: none;
}
main::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(.4rem);
	z-index: -1;
	margin: -4rem;
}
main{
	position: relative;
	padding: 2rem;
	margin: auto auto !important;
	box-shadow: 0 .5rem 2rem rgb(27, 31, 35);
	border-radius: .4rem;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 1;

}
form{
	min-width: 10rem !important;
}
form>fieldset>legend{
	color: white;
	padding-bottom: 1rem;
}
button{
	width: 100%;
} */
ul.wschatusers{
	width: 6rem;
}
form[class*=-wschat]{
	padding: .4rem;
	border: .2rem solid black;
}
form[class*=-wschat]>fieldset:first-child{
	display: block !important;
	width: 100%;
	height: 30rem;
	overflow-y: scroll;
	word-break: break-all;
	word-wrap: break-word;
}
form[class*=-wschat]>fieldset:first-child>p{
	margin: 0;
	padding-bottom: .2rem;
}
form[class*=-wschat]>fieldset:first-child>p>div>span:first-child{
	padding-right: .4rem;
}
form[class*=-wschat]>fieldset:last-child>input:first-child{
	width: 8rem;
}
form[class*=-wschat]>fieldset:last-child>input:nth-child(2){
	width: 40rem;
}
form[class*=-wschat]>fieldset:last-child>button:last-child{
	width: 6rem;
}
table[class*=-stateven] td{
	min-width: 2.4rem;
	padding: .2rem;
}
table[class*=-stateven]>tbody>tr:not(:first-child):nth-child(odd){
	background-color:lightblue;
}
table[class*=-stateven]>tbody>tr:nth-child(2)>td:first-child{
	font-weight: bold;
}
table[class*=-stateven]>tbody>tr>td{
	text-align: right;
}
ul.restag{
	padding:0;
	width:76rem;
	display:flex;
	align-content: flex-start;
	flex-flow:wrap;
	list-style-type:none;
	gap:.3rem;
}
ul.restag>li{
	flex:0 0 9rem;
}
ul.restag>li>label{
	padding:.3rem;
	border-radius:.3rem;
	white-space:nowrap;
}
ul.restag>li>label:hover{
	background:whitesmoke;
}
ul.restag>li>label:active{
	background:gainsboro;
}
ul.mo{
	padding:0;
	width:62rem;
	display:flex;
	align-content: flex-start;
	flex-flow:wrap;
	list-style-type:none;
	gap:.3rem;
}
ul.mo>li{
	flex:0 0 12rem;
}
ul.mo>li>label{
	padding:.3rem;
	border-radius:.3rem;
	white-space:nowrap;
}
ul.mo>li>label:hover{
	background:whitesmoke;
}
ul.mo>li>label:active{
	background:gainsboro;
}

ul.ad{
	padding:0;
	width:58rem;
	display:flex;
	align-content: flex-start;
	flex-flow:wrap;
	list-style-type:none;
	gap:1rem;
}
ul.ad>li{
	flex:0 0 18rem;
}
ul.ad>li>label{
	padding:.3rem;
	border-radius:.3rem;
	white-space:nowrap;
}
ul.ad>li>label:hover{
	background:whitesmoke;
}
ul.ad>li>label:active{
	background:gainsboro;
}

