@charset "utf-8";
// @import url(fonts/opensans/import.css);
// @import url(fonts/titilliumweb/import.css);
:root{
	// 名称: scss to css
	// ID: oorzc.scss-to-css-compile
	// 说明: 💠 Compile SCSS files easily to css and minified version.
	// 版本: 1.3.3
	// 发布者: oorzc
	// VS Marketplace 链接: https://marketplace.visualstudio.com/items?itemName=oorzc.scss-to-css-compile
	// https://hslpicker.com
	// hue saturation lightness
	--webapp-hue-default: 210;
	--webapp-hue-primary: 130;
	--webapp-hue-danger: 360;
	//HSL Value
	--webapp-default: var(--webapp-hue-default) 0%;
	--webapp-anchor: var(--webapp-hue-default) 100%;
	--webapp-primary: var(--webapp-hue-primary) 50%;
	--webapp-danger: var(--webapp-hue-danger) 70%;
	//HSL Color
	--webapp-color-background: var(--webapp-default) 100%;
	--webapp-color-foreground: var(--webapp-default) 0%;
	--webapp-color-edge: var(--webapp-default) 60%;
	--webapp-color-hint: var(--webapp-default) 70%;
	--webapp-color-anchor: var(--webapp-anchor) 40%;
	--webapp-color-primary: var(--webapp-primary) 50%;
	--webapp-color-danger: var(--webapp-danger) 50%;
	//Font
	--webapp-font-default: opensans, verdana, arial, sans-serif;
	--webapp-font-monospace: consolas, monospace;
	//Misc
	--webapp-radius: .2rem;
	--webapp-gaplittle: .2rem;
	--webapp-gapitem: .4rem;
	--webapp-gap: 1rem;
	--webapp-blur: blur(.2rem);
	font: normal 16px var(--webapp-font-default);
	background-color: hsl(var(--webapp-color-background));
	::selection{
		background-color: hsl(var(--webapp-color-anchor));
		color: hsl(var(--webapp-color-background));
	}
	&,>body{
		margin: 0;
		padding: 0;
		height: 100%;
	}
	>body>div:first-of-type{
		display: grid;
		grid-template-columns: auto 1fr;
		>header:first-of-type{
			display: flex;
			grid-column: 1 / -1;
			&:empty{
				margin-top: var(--webapp-gap);
			}
		}
		>aside:first-of-type:not(:empty){
			display: flex;
			gap: var(--webapp-gapitem);
			flex-direction: column;
			//white-space: nowrap;
			padding-left: var(--webapp-gap);
			//width: 10rem;
			// overflow: hidden;
			// text-overflow: ellipsis;
		}
		>main:first-of-type{
			margin: 0 var(--webapp-gap);
		}
		>footer:first-of-type{
			grid-column: 1 / -1;
			padding: var(--webapp-gap);
		}
	}
}
a{
	color: hsl(var(--webapp-color-anchor));
	text-decoration: none;
	cursor: pointer;
	outline: none;
	&:hover{
		text-decoration: underline;
	}
	&.primary{
		color: hsl(var(--webapp-color-primary));
	}
	&.danger{
		color: hsl(var(--webapp-color-danger));
	}
}
option{
	color: hsl(var(--webapp-color-foreground));
	background-color: hsl(var(--webapp-color-background));
	&:checked{
		background-color: hsl(var(--webapp-color-hint) / .2);
	}
	&:hover{
		color: hsl(var(--webapp-color-background));
		background-color: hsl(var(--webapp-color-anchor));
	}
}
select,::picker(select){
	appearance: base-select;
	border: 1px solid hsl(var(--webapp-color-edge));
	border-radius: var(--webapp-radius);
}
select,button,textarea,input,
[class*=webapp-button],[class*=webapp-bar]>a{
	font: 1rem var(--webapp-font-default);
	line-height: 1.44rem;
	padding: var(--webapp-gaplittle);
	outline: none;
}
select,button,textarea,input:not([type=image i],[type=range i],[type=radio i],[type=checkbox i]),
[class*=webapp-button],[class*=webapp-bar]>a{
	border: 1px solid hsl(var(--webapp-color-edge));
	border-radius: var(--webapp-radius);
	&:hover{
		border-color: hsl(var(--webapp-color-hint));
	}
	&:focus{
		border-color: hsl(var(--webapp-color-anchor));
		box-shadow: 0 0 0 .2rem hsl(var(--webapp-color-anchor) / .3);
		z-index: 1;
	}
}
select,button,input:is([type=file i],[type=submit i]),
[class*=webapp-button],[class*=webapp-bar]>a{
	white-space: nowrap;
	background-color: hsl(var(--webapp-default) 94%);
	background-image: linear-gradient(transparent, hsl(var(--webapp-default) 90%) 90%);
	&:hover{
		background-image: linear-gradient(hsl(var(--webapp-default) 98%), hsl(var(--webapp-default) 94%) 90%);
	}
	&[type=submit i],&.default,&.primary,&.danger{
		color: hsl(var(--webapp-default) 100%);
		text-shadow: 0 0 .1rem hsl(var(--webapp-default) 0%);
	}
	&[type=submit i],&.default{
		border-color: hsl(var(--webapp-anchor) 20%);
		background-color: hsl(var(--webapp-anchor) 50%);
		background-image: linear-gradient(transparent, hsl(var(--webapp-anchor) 40%) 90%);
		&:hover{
			border-color: hsl(var(--webapp-anchor) 40%);
			background-image: linear-gradient(hsl(var(--webapp-anchor) 60%), hsl(var(--webapp-anchor) 50%) 90%);
		}
	}
	&.primary{
		border-color: hsl(var(--webapp-primary) 20%);
		background-color: hsl(var(--webapp-primary) 50%);
		background-image: linear-gradient(transparent, hsl(var(--webapp-primary) 40%) 90%);
		&:hover{
			border-color: hsl(var(--webapp-primary) 40%);
			background-image: linear-gradient(hsl(var(--webapp-primary) 60%), hsl(var(--webapp-primary) 50%) 90%);
		}
		&:focus{
			box-shadow: 0 0 0 .2rem hsl(var(--webapp-color-primary) / .5);
		}
	}
	&.danger{
		border-color: hsl(var(--webapp-danger) 20%);
		background-color: hsl(var(--webapp-danger) 50%);
		background-image: linear-gradient(transparent, hsl(var(--webapp-danger) 40%) 90%);
		&:hover{
			border-color: hsl(var(--webapp-danger) 40%);
			background-image: linear-gradient(hsl(var(--webapp-danger) 60%), hsl(var(--webapp-danger) 50%) 90%);
		}
		&:focus{
			box-shadow: 0 0 0 .2rem hsl(var(--webapp-color-danger) / .5);
		}
	}
	&:active,&:is([type=submit i],[class]):active{
		background-image: none;
	}
}
select,textarea,input:not([type=image i],[type=range i],[type=radio i],[type=checkbox i]){
	&:invalid{
		border-color: hsl(var(--webapp-color-danger));
		&:focus{
			box-shadow: 0 0 0 .2rem hsl(var(--webapp-color-danger) / .3);
		}
	}
	&:disabled{
		cursor: not-allowed;
		opacity: .7;
	}
}
textarea,input:not([type=file i],[type=submit i],[type=image i],[type=range i],[type=radio i],[type=checkbox i]){
	box-shadow: inset 0 .1rem .2rem hsl(var(--webapp-color-edge) / .2);
	&::placeholder{
		color: hsl(var(--webapp-color-hint));
	}
	&:read-only{
		background-color: hsl(var(--webapp-color-hint) / .1);
	}
}
textarea,code,pre{
	font: 1rem var(--webapp-font-monospace);
}
input{
	&[type=file i]{
		width: 100%;
		min-width: 7rem;
		&::file-selector-button{
			display: none;
		}
	}
	&:not([type=file i],[type=submit i],[type=image i],[type=range i],[type=radio i],[type=checkbox i]){
		text-overflow: ellipsis;
	}
	&[type=radio i],&[type=checkbox i]{
		appearance: none;
		position: relative;
		margin: 0;
		padding: 0;
		width: 1.8rem;
		height: 1rem;
		border: 1px solid hsl(var(--webapp-color-edge));
		border-radius: .5rem;
		background-color: hsl(var(--webapp-color-hint));
		&::before{
			content: '';
			position: absolute;
			top: 1px;
			left: 1px;
			width: calc(1rem - 4px);
			height: calc(1rem - 4px);
			border-radius: calc((1rem - 4px) * .5);
			background-color: hsl(var(--webapp-color-background));
			box-sizing: border-box;
		}
		&:checked{
			border: 1px solid hsl(var(--webapp-anchor) 20%);
			background-color: hsl(var(--webapp-color-anchor));
			&::before{
				left: calc(1.8rem - 1rem + 1px);
			}
		}
	}
}
label{
	display: flex;
	gap: var(--webapp-gapitem);
	align-items: center;
	padding: var(--webapp-gaplittle) var(--webapp-gapitem);
	line-height: 1.6rem;
}
details{
	>summary{
		cursor: pointer;
		display: flex;
		align-items: center;
		&::before{
			content: '';
			width: 1.25rem;
			height: 1.25rem;
			display: inline-block;
			mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="m9 18 6-6-6-6"/></svg>');
			background-color: hsl(var(--webapp-color-foreground));
			mask-size: cover;
		}
	}
	&[open]>summary::before{
		mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="m6 9 6 6 6-6"/></svg>');
	}
	&.popup{
		position: relative;
		>:not(summary){
			position: absolute;
			padding: var(--webapp-gaplittle);
			border: 1px solid hsl(var(--webapp-color-edge));
			border-radius: var(--webapp-radius);
			background-color: hsl(var(--webapp-color-background));
			box-shadow: 0 0 .2rem hsl(var(--webapp-color-edge));
			white-space: nowrap;
			z-index: 2;
			details>:not(summary){
				left: 100%;
				top: 0;
			}
		}
	}

}


// @keyframes progress-bar-stripes{
// 	0% {background-position: 1rem 0px;}
// 	100% {background-position: 0px 0px;}
// }
progress{
	appearance: none;
	&::-webkit-progress-inner-element{
		padding: 1px;
		border: 1px solid hsl(var(--webapp-color-edge));
		border-radius: var(--webapp-radius);
	}
	&::-webkit-progress-bar{
		background-color: hsl(var(--webapp-color-hint));
		border-radius: var(--webapp-radius);
	}
	&::-webkit-progress-value{
		transition: width .3s ease;
		border-radius: var(--webapp-radius);
		background-image: linear-gradient(-45deg,
			hsl(var(--webapp-color-background) / .2) 25%,
			transparent 25%,
			transparent 50%,
			hsl(var(--webapp-color-background) / .2) 50%,
			hsl(var(--webapp-color-background) / .2) 75%,
			transparent 75%,
			transparent);
		background-size: 1rem 1rem;
		background-color: hsl(var(--webapp-color-anchor));
		//animation: 1s linear 0s infinite normal none running progress-bar-stripes;
	}

}
form[class|=webapp]{
	display: inline-flex;
	flex-direction: column;
	//border: 1px solid hsl(var(--webapp-color-edge));
	//border-radius: var(--webapp-radius);
	>fieldset{
		display: flex;
		border: none;
		gap: var(--webapp-gap);
		margin: 0;
		padding: var(--webapp-gapitem);
		&:empty{
			display: none;
		}
		>legend:first-of-type{
			padding: var(--webapp-gapitem) 0 0 0;
		}
		>:not(legend){
			flex-grow: 1;
		}
	}
}
table[class|=webapp]{
	background-color: hsl(var(--webapp-color-edge));
	border-collapse: separate;
	border-spacing: 1px;
	border-radius: calc(var(--webapp-radius) + 1px);
	>:first-child>tr:first-of-type{
		>td:first-of-type{
			border-top-left-radius: var(--webapp-radius);
		}
		>td:last-of-type{
			border-top-right-radius: var(--webapp-radius);
		}
	}
	>:last-child>tr:last-of-type{
		>td:first-of-type{
			border-bottom-left-radius: var(--webapp-radius);
		}
		>td:last-of-type{
			border-bottom-right-radius: var(--webapp-radius);
		}
	}
	>thead,>tbody,>tfoot{
		background-color: hsl(var(--webapp-color-background));
		>tr>td{
			padding: var(--webapp-gapitem);
		}
	}
	>thead{
		>tr:first-of-type>td:first-of-type{
			color: hsl(var(--webapp-default) 100%);
			border: 1px solid hsl(var(--webapp-default) 100%);
			background-color: hsl(var(--webapp-anchor) 50%);
			background-image: linear-gradient(transparent, hsl(var(--webapp-anchor) 40%) 90%);
			text-shadow: 0 0 .1rem hsl(var(--webapp-default) 0%);
		}
	}
	>tbody{
		>tr.fieldset:first-of-type{
			background-color: hsl(var(--webapp-default) 90%);
		}
		>tr>td[data-null]::before{
			content: 'NULL';
			color: hsl(var(--webapp-color-hint));
		}
	}
	>tfoot{
		background-color: hsl(var(--webapp-anchor) 98%);
		>tr>td>div.webapp-bar-merge:last-of-type>a{
			padding: var(--webapp-gaplittle) var(--webapp-gap);
		}
	}
}

ul[class|=webapp],ol[class|=webapp]{
	&,ul,ol{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&[class*=-tree]{
		&,ul,ol{
			margin-left: calc(var(--webapp-gapitem) + var(--webapp-gaplittle));
			>li{
				border-left: 1px solid hsl(var(--webapp-color-edge));
				padding-left: var(--webapp-gaplittle);
				line-height: 1.4rem;
				&:before{
					content: '';
					position: relative;
					top: calc(0rem - var(--webapp-gapitem));
					left: calc(0rem - var(--webapp-gaplittle));
					width: var(--webapp-gapitem);
					height: 1rem;
					display: inline-block;
					border-bottom: 1px solid hsl(var(--webapp-color-edge));
				}
				&:last-of-type{
					border-left: none;
					&:before{
						border-left: 1px solid hsl(var(--webapp-color-edge));
					}
				}
			}
		}
	}
	&[class*=-listmenu]{
		&,ul,ol{
			padding: var(--webapp-gaplittle);
			line-height: 1.6rem;
			>li{
				border-radius: var(--webapp-radius);
				>details>summary,>a{
					display: flex;
					padding: var(--webapp-gaplittle) var(--webapp-gapitem);
					border-radius: var(--webapp-radius);
					&:hover{
						background-color: hsl(var(--webapp-color-hint) / .2);
					}
				}

			}
		}
	}
	&[class*=-popup]{
		details{
			@extend details, .popup;
		}
	}
	&[class*=-inline]{
		display: flex;
	}
	&[class*=-option]{
		>li{
			border-radius: var(--webapp-radius);
			&:hover{
				background-color: hsl(var(--webapp-color-hint) / .2);
			}
			>label{
				padding: var(--webapp-gaplittle) var(--webapp-gapitem);
			}
		}
	}
	>li.divider{
		height: 1px;
		margin: var(--webapp-gapitem);
		background-color: hsl(var(--webapp-color-edge));
	}
}




dialog[class|=webapp]{
	display: flex;
	flex-direction: column;
	padding: 0;
	outline: none;
	border: 1px solid hsl(var(--webapp-color-foreground));
	border-radius: var(--webapp-radius);
	box-shadow: 0 0 .2rem hsl(var(--webapp-color-foreground));
	max-height: 80%;
	&::backdrop {
		background: hsl(var(--webapp-color-foreground) / .4);
		backdrop-filter: var(--webapp-blur);
	}
	>header:first-of-type{
		padding: var(--webapp-gapitem);
		color: hsl(var(--webapp-color-background));
		background-color: hsl(var(--webapp-color-anchor));
		border: 1px solid hsl(var(--webapp-color-background));
		border-radius: var(--webapp-radius);
	}
	>section:first-of-type{
		padding: var(--webapp-gap);
		white-space: pre-wrap;
		word-break: break-all;
		overflow: auto;
	}
	>footer:first-of-type{
		display: flex;
		gap: var(--webapp-gap);
		justify-content: center;
		padding: var(--webapp-gap);
		>button{
			min-width: 6rem;
		}
	}
	&[class*=-warning]{
		border: 1px solid hsl(var(--webapp-color-danger));
		box-shadow: 0 0 0 .2rem hsl(var(--webapp-color-danger) / .5);
		>header:first-of-type{
			color: hsl(var(--webapp-color-background));
			background-color: hsl(var(--webapp-color-danger));
			border: 1px solid hsl(var(--webapp-color-background));
		}
	}
	&[class*=-hint]{
		color: hsl(var(--webapp-color-background));
		border: none;
		box-shadow: none;
		background-color: hsl(var(--webapp-color-foreground) / .7);
		transition: opacity .4s ease-in-out;
	}
}

:is([class|=webapp]){

	// &[class*=plittle]{
	// 	padding: var(--webapp-gaplittle);
	// }
	// &[class*=pmedium]{
	// 	padding: var(--webapp-gapitem);
	// }
	// &[class*=plarge]{
	// 	padding: var(--webapp-ga);
	// }
	// margin: 0;
	// padding: 0;
	// &[class*=-inline]{
	// 	display: inline-block;
	// }
	&[class*=-edge]{
		border: 1px solid hsl(var(--webapp-color-edge));
		border-radius: var(--webapp-radius);
	}
	&[class*=-bar]{
		display: flex;
		gap: var(--webapp-gapitem);
		&[class*=-merge]{
			gap: 0;
			>*{
				border-radius: 0;
			}
			>:not(:last-child){
				border-right: none;
			}
			>:first-child{
				border-top-left-radius: var(--webapp-radius);
				border-bottom-left-radius: var(--webapp-radius);
			}
			>:last-child{
				border-top-right-radius: var(--webapp-radius);
				border-bottom-right-radius: var(--webapp-radius);
			}
		}

	}
}